PUBLIC_API_KEY=eln4oX3ypCvT1FOA1T6PZ3IsSfCxQrhne3vT4qsrxfY
PUBLIC_CONTACT_FORM_ID=6463a4f7de995bc1fab27f7d
PUBLIC_FORMS_API_URL=http://localhost:8001
PUBLIC_URL=http://localhost:3000
PUBLIC_IN_CONTAINER=false # for the webcontainer
PUBLIC_CONTACT_FORM_JSON="{}" # for the webcontainer